<!DOCTYPE html>
<html>
    <header>
        <title>CharacterNexus</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    </header>
    <body>
        <form action="{% url 'charIndex:search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
            <input type="submit" value="Search">
        </form>

        {% if newest_characters_list %}
            {% for character in newest_characters_list %}
            <a href="{% url 'charIndex:detail' character.char_origin  character.char_name %}">
                <img src="{{ character.char_img.url }}">
                <figcaption>
                    {{ character.char_name }}
                </figcaption>
            </a>
            {% endfor %}
        {% else %}
            <p>There are no characters in the nexus yet.</p>
        {% endif %}
    </body>
</html>
