<!-- templates/CharacterNexus/index.html -->
{% extends "CharacterNexus/base.html" %}

{% block header %}
    <title>CharacterNexus</title>
{% endblock %}

{% block content %}
    {% if newest_characters_list %}
        {% for character in newest_characters_list %}
            <a href="{% url 'charIndex:detail' character.char_origin  character.char_name %}">
                <img src="{{ character.char_img.url }}" class="char_img">
                <figcaption>
                    {{ character.char_name }}
                </figcaption>
            </a>
        {% endfor %}
    {% else %}
        <p>There are no characters in the nexus yet.</p>
    {% endif %}
{% endblock %}
