<!DOCTYPE html>
<html>
    <header>
        <title>{{ character.char_origin }} - {{ character.char_name }}</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    </header>
    <body>
        <h1>{{ Character.char_name }}</h1>
        <img src="{{ character.char_img.url }}">
        <figcaption>{{ character.char_name }}</figcaption>
        {% for name, value in character.stats.get_fields|slice:"1:" %}
            {% if value %}
                {{ name }} => {{ value }}
                <br>
            {% endif %}
        {% endfor %}
    </body>
</html>
