<!DOCTYPE html>
<html>
    <header>
        <title>{{ character.char_origin }} - {{ character.char_name }}</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'charIndex/style.css' %}">
    </header>
    <body>
        <!-- Navbar for the webpage -->
        <ul>
            <li><a href="{% url 'homeSite:index' %}">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>

        <!-- Search bar -->
        <form action="{% url 'charIndex:search_results' %}" autocomplete="off" method="get">
            <input name="q" type="text" placeholder="Search...">
            <input type="submit" value="Search">
        </form>

        <h1>{{ Character.char_name }}</h1>
        <img src="{{ character.char_img.url }}">
        <figcaption>{{ character.char_name }}</figcaption>
        {% for name, value in character.stats.get_fields|slice:"1:" %}
            {% if value %}
                {{ name }} => {{ value }}
                <br>
            {% endif %}
        {% endfor %}
    </body>
</html>
