ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
    color: green;
}

body {
    color: white;
    background-color: white;
    background-image: url("images/momo.gif"), url("images/sana.gif"), url("images/tzuyu.gif");
    background-position: right top, left top, center top;
    background-repeat: repeat-y;
    background-size: 33.3333% 300px;
}

.char_img {
    height: 100px;
    width: 100px;
}
